<h2> View Magazine Edit </h2>
<main>
  <p> Enter the magazine info to add </p>
  <form class="edit-magazine" method="POST" action="/magazine/{{mag._id}}?_method=PATCH">
    <label for="magazinename">Magazine Name:</label>
    <input type="text" name="magazinename" value="{{mag.magazinename}}">
    <label for="coverTitle">Cover Title:</label>
    <input name="coverTitle" value="{{mag.coverTitle}}">
    <label for="editionPeriod">Edition Period:</label>
    <input name="editionPeriod" value="{{mag.editionPeriod}}">
    <label for="editionVolume">Volume:</label>
    <input name="editionVolume" value="{{mag.editionVolume}}">
    <label for="editionNumber">Number:</label>
    <input name="editionNumber" value="{{mag.editionNumber}}">
    <label for="baseLocation">Current Location:</label>
    <Select name="baseLocation" value="{{mag.baseLocation}}">
      <option value="book-shelf">Book Shelf</option>
      <option value="living-room">Living Room</option>
      <option value="office">Office</option>
      <option value="garage">Garage</option>
    </select>
    <input type="submit" value=" Update Magazine ">
  </form>

  <a href='/article/new'> Add new Article </a>
</main>
