<h2> New Article </h2>
<h3> {{mag.magazinename}}</h3>
<h4> {{mag.coverTitle}}</h4>
<p>Volume {{mag.editionVolume}} Number {{mag.editionNumber}}</p>
<p><span>Period {{mag.editionPeriod}}</span></p>
<p>This magazine is currently located at the {{mag.baseLocation}}</P>
<main>
  <p> Enter the article info to edit </p>
  <form class="edit-article" method="POST" action="/article/{{mag._id}}">
    <label for="title">Title:</label>
    <input name="title" value="">
    <label for="author">Author:</label>
    <input name="author" value="">
    <label for="topic">Topic:</label>
    <input name="topic" value="">
    <label for="abstract">Abstract:</label>
    <input name="abstract" value="">

    <input type="submit" value=" Add Article ">
  </form>

  <a href='/magazine/{{mag._id}}'> Return view Magazine </a>
</main>
